.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: 60px;
  background: var(--color-primary);
  z-index: 100;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 var(--spacing-lg);
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  font-family: var(--font-bold);
  font-size: var(--font-size-xl);
  color: var(--color-bg-white);
}
